@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  transition: background-color 0.25s ease;
}

.react-calendar {
  border: none !important;
  border-radius: 12px;
  width: 280px !important;
  font-size: 16px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.react-calendar button {
  border-radius: 8px;
}

.react-calendar__month-view__days__day,
.react-calendar__month-view__weekdays__weekday,
.react-calendar__navigation__label__labelText--from,
.react-calendar__year-view__months__month {
  color: black;
}

.react-calendar__tile--now {
  background: #bfc2ce !important;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 1.5em 0.5em !important;
}

.react-calendar__tile {
  padding: 8px 6.6667px !important;
}

.react-calendar__navigation__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

abbr:where([title]) {
  text-decoration: none;
}

.main_container {
  display: grid;
  grid-template-columns: repeat(3, minmax(400px, 1fr));
  grid-auto-flow: row;
  padding-top: 16px;
  height: fit-content;
}

.main_container::-webkit-scrollbar {
  width: 10px;
}
.main_container::-webkit-scrollbar-thumb {
  background-color: rgba(122, 122, 122, 0.5);
  border-radius: 10px;
  background-clip: padding-box;
  border: 1px solid transparent;
}
.main_container::-webkit-scrollbar-track {
  background-color: rgba(122, 122, 122, 0.2);
  border-radius: 10px;
  padding: 3px;
}

.fade-in {
  animation: fadein 0.36s;
}

.starforce-fade-in {
  animation: fadein 0.4s, scalein 0.12s ease-out;
}

.cube-glow {
  animation: glowFadeout 0.8s ease-in-out;
}

@keyframes glowFadeout {
  0% {
    background-color: rgb(255, 255, 255, 0.6);
    border: 2px solid rgb(65, 217, 255, 0.9);
    box-shadow: 0 0 50px rgb(223, 245, 255);
  }
  100% {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scalein {
  from {
    transform: translate(-50%, -40%) scale(0.6);
  }
  to {
    transform: translate(-50%, -40%) scale(1);
  }
}
